@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

:root{
  --background: #fafafa;
  --off-background: #e0e0e0;
  --text: #080808;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --background: #080808;
    --off-background: #212121;
    --text: #fafafa;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Fira Code', monospace;
  background-color: var(--background);
  color: var(--text);
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#back-button {
  position: relative;
  top: 5vw;
  left: 5vw;
  width: 5vw;
  height: 5vw;
  font-size: 2vw;
  background-color: var(--background);
  z-index: 999;
}

.selection {
  text-decoration: none;
  position: relative;
}

.selection:hover::before {
  position: absolute;
  content:'[';
  left: -1ch;
}

.selection:hover::after {
  content:']';
}