@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

body {
  font-family: 'Fira Code', monospace;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.list {
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
}

.list>a {
  text-decoration: none;
  color: #212121;
  font-size: 5vw;
  position: relative;
}

.list>a:hover::before {
  position: absolute;
  content:'[';
  left: -3vw;
}

.list>a:hover::after {
  content:']';
}

.typed {
  margin-top: 10vh;
  margin-left: 5vw;
  font-size: 6vw;
	width: 14ch;
	white-space: nowrap;
	overflow: hidden;
	border-right: 4px solid #fff;
	animation: 
    cursor 500ms step-start infinite, 
    text 8s steps(14) infinite,
    selection 8s steps(1) infinite;
}

@keyframes cursor {
	0% {
    border-color: #212121;
  }
  50% {
    border-color: transparent;
  }
  100% { 
    border-color: #212121; 
  }
}

@keyframes text {
	0% { 
    width: 0; 
  }
  80% {
    width: 14ch;
  }
  100% { 
    width: 14ch; 
  }
}

@keyframes selection {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  90% {
    background-color: #3ba7ff62;
  }
}

#sketch {
  position: absolute;
  top: 50vh;
  height: 50vh;
}

@media screen and (orientation: landscape) {
  .typed {
    font-size: 3vw;
  }
  .list>a {
    font-size: 2.5vw;
  }

  .list>a:hover::before {
    left: -1.5vw;
  }
}